* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 1.6rem;
    background-color: #000;
}
button {
    transition: .2s;
}
#content-chat-close,
button:hover {
    cursor: pointer;
}
a,
button,
input,
textarea,
select {
    outline: none;
    border: none;
    background: none;
}
textarea {
    resize: none;
}

/* TOGGLE SCREEN */

#ui.off {
    display: none;
}
#renderer-game.on {
    display: block;
}
#open-chat.off {
    display: none;
}
#close-chat.on {
    display: block;
}

/* TOGGLE CHAT */

#chat.off {
    display: none;
}
#chat-close.on {
    display: flex;
}

/* BODY */

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.users,
.posts {
    display: flex;
}

/* CHAT */

#chat {
    position: relative;
    margin: 0;
}
.posts.this-post {
    justify-content: right;
}
.posts.info {
    justify-content: center;
}
#fill-text {
    display: flex;
    width: 100%;
    height: 13%;
}
#body-post {
    width: calc(75% - 1rem);
    height: 100%;
    border-radius: .7rem;
    padding: 1rem;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .2);
}
#send-post {
    width: 25%;
    margin-left: 1rem;
    padding: 1rem;
    align-items: center;
    font-size: 1.5rem;
    border-radius: .3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}
#send-post:hover {
    color: #fff;
    background-color: dodgerblue;
}
.user-state {
    position: relative;
    margin-left: auto;
    width: .7rem;
    height: .7rem;
    transform: translateY(.8rem) rotate(45deg);
    background-color: #00a023;
}
.user-state.user-playing {
    background-color: #ff0000;
}

/* MENU */

.section-content {
    background-color: #fff;
    padding: 2rem;
    z-index: 15;
    margin-right: .7rem;
    border-radius: 2rem;
}
#cont-users-info,
.content-info {
    margin: 0 1rem 0 1rem;
}
.section-content div {
    margin-bottom: 1rem;
}
.section-content div:last-child {
    margin-bottom: 0;
}
.lists-content {
    height: 83%;
    border-radius: .7rem;
    padding: 1rem;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .2);
}
.section-content div div {
    margin-bottom: .5rem;
}
#ui {
    display: flex;
}
#ui,
#chat {
    min-width: 35rem;
    height: 45%;
    min-height: 40rem;
}

/* MENU - USERS */

#users-connected {
    min-width: 20rem;
}

/* MENU - MAIN */

#menu {
    height: min-content;
}
#name-tag,
#list-servers {
    border-bottom: 1px solid #000;
}
#start-game {
    width: 100%;
    padding: 1rem;
    align-items: center;
    border-radius: .3rem;
    font-size: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}
#start-game:hover {
    color: #fff;
    background-color: dodgerblue;
}

/* MENU - CHAT */

#list-posts {
    height: 75%;
}

/* RENDERER-GAME */

#renderer-game {
    display: none;
    position: absolute;
}

/* RENDERER-GAME - QUIT GAME */

#quit-game-content {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 13rem;
    height: 5rem;
    border-radius: .3rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
}
#quit-game {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}
#quit-game:hover {
    background-color: dodgerblue;
    color: #fff;
}

/* RENDERER-GAME - CANVAS */

#chat.game {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    min-width: 25rem;
    height: 40%;
    min-height: 35rem;
}

/* RENDERER-GAME - CHAT */

#chat-close {
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: auto;
    height: auto;
    border-radius: 1rem;
    z-index: 15;
}
#content-chat-close {
    display: flex;
    width: 5rem;
    height: 5rem;
    transform: translateY(.5rem);
    justify-content: center;
    background-color: #fff;
}
#content-chat-close p {
    font-size: 3rem;
}
#list-posts-chat-close {
    width: auto;
    max-width: 30rem;
    height: auto;
    max-height: 35rem;
    background-color: #fff;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .2);
}
