* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 1.6rem;
}
input,
button,
select,
textarea {
    border: none;
    outline: none;
}
textarea {
    resize: none;
}
button:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
}

/* UI */

#ui {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    z-index: 5;
}
#ui section {
    position: relative;
    padding: 1.5rem;
    width: 30vw;
    height: auto;
    background-color: white;
    border-radius: 1.5rem;
    z-index: 10;
}
.content-info {
    position: relative;
}
#users-connected,
#chat-lobby {
    overflow-y: auto;
    overflow-x: hidden;
}
#menu-content {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
}

/* Menu */

#menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem 0 .5rem;
    height: auto;
    z-index: 50;
}

/* Username */

#menu #username {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu #username label {
    margin-right: 1.5rem;
}

/* Users */


/* Posts */

#fill-text {
    display: flex;
    position: absolute;
    bottom: 0;
}
#list-posts {
    display: flex;
    flex-direction: column;
}
#body-post {
    width: 80%;
    height: 3rem;
}
#send-post {
    width: 20%;
    height: 3rem;
}

/* Server */

.servers {
    background-color: rgba(0, 0, 0, .2);
}
.servers:hover {
    cursor: pointer;
}

/* RENDERER - GAME */

#canvas {
    position: absolute;
    z-index: 1;
}
