* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 1.6rem;
    background-color: #000;
}
button {
    transition: .2s;
}
button:hover {
    cursor: pointer;
}
a,
button,
input,
textarea,
select {
    outline: none;
    border: none;
    background: none;
}
textarea {
    resize: none;
}
#ui.off {
    display: none;
}
#renderer-game.on {
    display: block;
}
#open-chat.off {
    display: none;
}
#close-chat.on {
    display: block;
}

/* MENU */

#ui {
    display: flex;
    position: absolute;
    height: 80vh;
    width: 80vw;
}
.section-content {
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 2rem;
    background-color: #fff;
}
.section-content div {
    margin-bottom: 1rem;
}
.section-content div:last-child {
    margin-bottom: 0;
}
#list-posts,
#list-posts-game,
#list-users {
    padding: 1rem;
    border-radius: 2rem;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .2);
}
.content-info {
    margin-left: 1rem;
    margin-bottom: .8rem;
    font-size: 1.8rem;
}
.posts,
.users {
    display: flex;
    margin-bottom: .5rem;
}

/* MENU - USERS */

#users-connected {
    width: 20%;
    min-width: 17.5rem;
}
#list-users {
    height: 87%;
}
.user-state {
    position: relative;
    margin-left: auto;
    width: .7rem;
    height: .7rem;
    transform: translateY(.8rem) rotate(45deg);
    background-color: #00a023;
}
.user-state.user-playing {
    background-color: #ff0000;
}
#cont-users {
    margin-left: 1rem;
}

/* MENU - MAIN */

#menu {
    display: flex;
    width: 22.7rem;
    margin: 0 1% 0 1%;
    flex-direction: column;
    height: max-content;
}
#username {
    display: flex;
}
#username label {
    margin-right: .7rem;
}
#name-tag {
    min-width: 3rem;
    border-bottom: 1px solid #000;
}
#list-servers {
    border-bottom: 1px solid #000;
}
#start-game {
    font-size: 1.5rem;
    padding: 1rem 0;
    border-radius: .3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
#start-game:hover {
    background-color: dodgerblue;
    color: #fff;
}

/* MENU - CHAT */

#chat-lobby {
    width: 44%;
    min-width: 35rem;
}
#list-posts {
    height: 83%;
}
#fill-text {
    display: flex;
    width: 100%;
    height: auto;
}
#body-post {
    width: 80%;
    height: auto;
    padding: .3rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
}
#send-post {
    width: 20%;
}
.posts.this-post {
    justify-content: right;
}
.posts.info {
    justify-content: center;
}

/* RENDERER-GAME */

#renderer-game {
    display: none;
}

/* RENDERER-GAME - QUIT GAME */

#quit-game-content {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
}
#quit-game {
    width: 100%;
    height: 100%;
}
#quit-game:hover {
    background-color: dodgerblue;
    color: #fff;
}

/* RENDERER-GAME - CANVAS */

#canvas {
    background-color: #000;
}

/* RENDERER-GAME - CHAT */

#chat-game.active {
    width: 3rem;
    height: 3rem;
}
#chat-game {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 25vw;
    height: 25vw;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2rem;
    padding: 2rem 1rem 2rem 1rem;
}
#open-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#open-chat div {
    margin-bottom: 1rem;
}
#open-chat div:last-child {
    margin-bottom: 0;
}
#close-chat {
    display: none;
}
#list-posts-game {
    height: 83%;
}
#fill-text-game {
    display: flex;
    width: 100%;
    height: auto;
}
#body-post-game {
    width: 80%;
    height: auto;
    padding: .3rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
}
#send-post-game {
    width: 20%;
}
.posts-game.this-post {
    justify-content: right;
}
.posts-game.info {
    justify-content: center;
}
